@import 'technology/font/flaticon';
@import 'banking-and-finance/font/flaticon';
@import 'space-and-aircraft/font/flaticon';
@import 'music/font/flaticon';
@import 'weather/font/flaticon';
@import 'shopping/font/flaticon';
@import 'media/font/flaticon';
@import 'network/font/flaticon';
@import 'construction/font/flaticon';
@import 'maps-and-navigation/font/flaticon';
@import 'security/font/flaticon';
@import 'industrial/font/flaticon';
@import 'medical-and-health/font/flaticon';
@import 'project-management/font/flaticon';
@import 'database-and-storage/font/flaticon';
@import 'communication/font/flaticon';
@import 'internet/font/flaticon';
@import 'office/font/flaticon';
@import 'web-hosting/font/flaticon';
@import 'professions/font/flaticon';
@import 'design-and-development/font/flaticon';
@import 'real-estate/font/flaticon';
@import 'science-and-fiction/font/flaticon';
@import 'seo-and-marketing/font/flaticon';

.sio{
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  display: inline-block;
}