@font-face {
  font-family: "WeatherIcon";
  src: url("weather/font/Flaticon.eot");
  src: url("weather/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("weather/font/Flaticon.woff2") format("woff2"),
       url("weather/font/Flaticon.woff") format("woff"),
       url("weather/font/Flaticon.ttf") format("truetype"),
       url("weather/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "WeatherIcon";
    src: url("weather/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class*=" weather-icon-"]:before,
[class^=weather-icon-]:before {
  display: inline-block;
  font-family: "WeatherIcon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.weather-icon-001-winter:before { content: "\f100"; }
.weather-icon-002-snowfall:before { content: "\f101"; }
.weather-icon-003-rainy:before { content: "\f102"; }
.weather-icon-004-snowfall:before { content: "\f103"; }
.weather-icon-005-rainy:before { content: "\f104"; }
.weather-icon-006-stormy:before { content: "\f105"; }
.weather-icon-007-moon:before { content: "\f106"; }
.weather-icon-008-moon:before { content: "\f107"; }
.weather-icon-009-clouds:before { content: "\f108"; }
.weather-icon-010-raining:before { content: "\f109"; }
.weather-icon-011-raining:before { content: "\f10a"; }
.weather-icon-012-moon:before { content: "\f10b"; }
.weather-icon-013-windstorm:before { content: "\f10c"; }
.weather-icon-014-moon-phase:before { content: "\f10d"; }
.weather-icon-015-rainbow:before { content: "\f10e"; }
.weather-icon-016-weather:before { content: "\f10f"; }
.weather-icon-017-tornado:before { content: "\f110"; }
.weather-icon-018-windsock:before { content: "\f111"; }
.weather-icon-019-raining:before { content: "\f112"; }
.weather-icon-020-weather:before { content: "\f113"; }
.weather-icon-021-raining:before { content: "\f114"; }
.weather-icon-022-snowfall:before { content: "\f115"; }
.weather-icon-023-weather:before { content: "\f116"; }
.weather-icon-024-clouds:before { content: "\f117"; }
.weather-icon-025-clouds:before { content: "\f118"; }
.weather-icon-026-thermometer:before { content: "\f119"; }
.weather-icon-027-thermometer:before { content: "\f11a"; }
.weather-icon-028-clouds:before { content: "\f11b"; }
.weather-icon-029-raining:before { content: "\f11c"; }
.weather-icon-030-weather:before { content: "\f11d"; }
.weather-icon-031-snowflakes:before { content: "\f11e"; }
.weather-icon-032-cloudy-night:before { content: "\f11f"; }
.weather-icon-033-windy:before { content: "\f120"; }
.weather-icon-034-climate:before { content: "\f121"; }
.weather-icon-035-thunderstorm:before { content: "\f122"; }
.weather-icon-036-climate:before { content: "\f123"; }
.weather-icon-037-weather:before { content: "\f124"; }
.weather-icon-038-drops:before { content: "\f125"; }
.weather-icon-039-windy:before { content: "\f126"; }
.weather-icon-040-raining:before { content: "\f127"; }
.weather-icon-041-raining:before { content: "\f128"; }

$font-Flaticon-001-winter: "\f100";
$font-Flaticon-002-snowfall: "\f101";
$font-Flaticon-003-rainy: "\f102";
$font-Flaticon-004-snowfall: "\f103";
$font-Flaticon-005-rainy: "\f104";
$font-Flaticon-006-stormy: "\f105";
$font-Flaticon-007-moon: "\f106";
$font-Flaticon-008-moon: "\f107";
$font-Flaticon-009-clouds: "\f108";
$font-Flaticon-010-raining: "\f109";
$font-Flaticon-011-raining: "\f10a";
$font-Flaticon-012-moon: "\f10b";
$font-Flaticon-013-windstorm: "\f10c";
$font-Flaticon-014-moon-phase: "\f10d";
$font-Flaticon-015-rainbow: "\f10e";
$font-Flaticon-016-weather: "\f10f";
$font-Flaticon-017-tornado: "\f110";
$font-Flaticon-018-windsock: "\f111";
$font-Flaticon-019-raining: "\f112";
$font-Flaticon-020-weather: "\f113";
$font-Flaticon-021-raining: "\f114";
$font-Flaticon-022-snowfall: "\f115";
$font-Flaticon-023-weather: "\f116";
$font-Flaticon-024-clouds: "\f117";
$font-Flaticon-025-clouds: "\f118";
$font-Flaticon-026-thermometer: "\f119";
$font-Flaticon-027-thermometer: "\f11a";
$font-Flaticon-028-clouds: "\f11b";
$font-Flaticon-029-raining: "\f11c";
$font-Flaticon-030-weather: "\f11d";
$font-Flaticon-031-snowflakes: "\f11e";
$font-Flaticon-032-cloudy-night: "\f11f";
$font-Flaticon-033-windy: "\f120";
$font-Flaticon-034-climate: "\f121";
$font-Flaticon-035-thunderstorm: "\f122";
$font-Flaticon-036-climate: "\f123";
$font-Flaticon-037-weather: "\f124";
$font-Flaticon-038-drops: "\f125";
$font-Flaticon-039-windy: "\f126";
$font-Flaticon-040-raining: "\f127";
$font-Flaticon-041-raining: "\f128";