.bio-swiper-container .bio-swiper-slide > .swiper-item .is-card{
    background: #fff;
    padding: 2px;
    border: 3px solid;
    box-shadow: 4px 4px 0 #000;
    margin: 13px 0;
}

.connect-social a{
    background: #fff !important;
    color: #000;
    box-shadow: 4px 4px 0 #000;
    border: 3px solid;
}
.connect-social a * {
  color: #000 !important;
}

.links .link .thumbnail {
	left: 6px !important;
}

.links .link .thumbnail img {
	width: 44px !important;
	height: 44px !important;
	border: 2px solid;
}

.social-links .social-link {
	background: #fff !important;
	border: 1.4px solid;
	position: relative;
}
.social-links .social-link:hover{
  transform: unset;
}
.social-links .social-link i {
	color: #000;
}

.product-card-v2{
    position: relative;
	border: 2px solid #201b3b !important;
    box-shadow: none;
}
.product-card-v2::before {
	content: "";
	position: absolute;
	left: 6.5px;
	top: 7px;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, {button_background} 2px, {button_background} 6px);
	border: 2px solid #201b3b;
	background-size: 100% 100%;
	background-repeat: repeat;
	z-index: -1;
}
.course-prices{
    position: relative;
	z-index: 10;
}
.sandy-expandable-btn{
    box-shadow: 4px 4px 0 #000;
	border: 2px solid #201b3b !important;
    background: #fff;
}
.bio-courses-card-v1, .text-sticker, .booking-card-1, .button{
    position: relative;
	border: 2px solid #201b3b !important;
    box-shadow: none;
    background: #fff;
}
.bio-courses-card-v1::before, .text-sticker::before, .booking-card-1::before, .button::before {
	content: "";
	position: absolute;
	left: 6.5px;
	top: 7px;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, {button_background} 2px, {button_background} 6px);
	border: 2px solid #201b3b;
	background-size: 100% 100%;
	background-repeat: repeat;
	z-index: -1;
}
.social-links .social-link::before {
	content: "";
	position: absolute;
	left: 4px;
	top: 4px;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, #000000 2px, #000000 6px);
	z-index: -1;
}

.yetti-links-v2 {
	transition: transform 0.25s cubic-bezier(0.2, 0.01, 0.2, 1);
	background: #fff;
	border: 2px solid #201b3b !important;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.yetti-links-v2 .fancy-drop {
	position: absolute;
	left: 5.5px;
	top: 6px;
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, {button_background} 2px, {button_background} 6px);
	border: 2px solid #201b3b;
	background-size: 100% 100%;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: -1;
}

.multi-image-container .inner-image-container::before {
	//content: "";
	background: #abdcf2;
	border: 2px solid #201b3b;
	position: absolute;
	top: 0.6rem;
	left: 0.6rem;
	right: -0.6rem;
	bottom: -0.6rem;
	pointer-events: none;
	z-index: 9;
}
.element-list .list-container{
	border: 2px solid #201b3b;
	box-shadow: 4px 4px 0 #000;
}
.inner-image-container {
	position: relative;
	padding-bottom: 20px !important;
}
.inner-image-container .fancy-drop{
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, {button_background} 2px, {button_background} 6px);
    border: 3px solid #201b3b;
    position: absolute;
    border-radius: inherit;
    left: 0.6rem;
    right: -0.4rem;
    bottom: -0.4rem;
    pointer-events: none;
    z-index: 1;
    top: 0.6rem;
}

.inner-image .link-out, .inner-image .thumbnail{
	z-index: 2;
}

.element-list .list-container .list-content .list-thumbnail::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, {button_background} 2px, {button_background} 6px);
    border: 2px solid #201b3b;
    background-size: 100% 100%;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
}
.element-list .list-container .list-content .list-thumbnail {
    position: relative;
    z-index: 1;
}

.highlights .highlight:not(.add)::after{
    content: '';
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, {button_background} 2px, {button_background} 6px);
    position: absolute;
    left: 4.5px;
    width: 100%;
    top: 5px;
    height: 100%;
    z-index: -1;
    border: 2px solid #201b3b;
    border-radius: inherit;
}
.avatar-thumb .avatar-container  .thumb{
  border: 3px solid;
  background: #fff !important;
}

.avatar-thumb .avatar-container .thumb::after{
    content: '';
	background: repeating-linear-gradient(45deg, #201b3b 0, #201b3b 1px, {button_background} 2px, {button_background} 6px);
    position: absolute;
    left: 4.5px;
    width: 100%;
    top: 5px;
    height: 100%;
    z-index: -1;
    border: 2px solid #201b3b;
    border-radius: inherit;
}

.highlights .highlight .thumbnail{
    display: flex;
    padding: 4px;
    background: #fff;
    border: 3px solid;
}
.context-body{
    border: 2px solid;
    z-index: initial;
    background: #fff !important;
    margin-right: 6px;
    margin-left: 6px;
    position: relative;
    backdrop-filter: none !important;
}
body.is-dark .context-body{
    background: #000 !important;
}
.context-body::after {
    content: '';
    background: repeating-linear-gradient(
45deg
, #201b3b 0, #201b3b 1px, #fff 2px, #fff 6px);
    position: absolute;
    left: 7px;
    top: 5px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: inherit;
    border: 2px solid;
}
.element-video .element-single-video{
    padding: 5px;
    box-shadow: 3px 3px 0 #000000;
    border: 3px solid;
}

.bio-menu .bio-menu-container{
  background: #fff;
}
.bio-swiper-container .bio-slider-arrows *{
    border: 2px solid #000;
    box-shadow: 3px 2px 0 #000;
}