// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$main-bg: #5DC2D3;
$mort-main-bg: #f5f7fc;

:root {
    --yetti-blocks-links-background: rgb(235, 238, 241);
    --yetti-blocks-links-color: #000;    
    --yetti-blocks-links-icon-color: #000;    

}