.choices-wrapper .choice{
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 17px;
    text-align: center;
    height: 54px;
    margin: 14px 0px;
    transition: all 0.1s ease 0s;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    background-color: transparent;
    color: #000;
}
.context-body{
    height: initial;
    border-radius: 20px !important;
}
.message{
    position: relative;
    //background: #fff;
    padding: 22px;
}
.message .title{
    font-size: 14px;
    color: #000;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}
.form-input textarea, .form-input input{
    border-radius: 20px;
    background: #f5f7fc;
    resize: none;
}
.element-context-body{
    border-radius: 0 !important;
    background: transparent !important;
    position: relative;
    display: flex;
}
.element-context-body .message{
    padding: 20px 32px;
    border-radius: 15px;
    display: block;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
.title-container i{
    margin-right: auto;
}
.title-container i{
    font-size: 30px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .element-context-body .message {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    }
}

body.is-dark .message .title{
    color: #fff;
}
.context-body{
    height: initial;
    border-radius: 20px;
}
#app-sandy-mix #content, #app-sandy-mix.is-bio{
    overflow: initial !important;
}