@font-face {
  font-family: "seo-and-marketing";
  src: url("seo-and-marketing/font/Flaticon.eot");
  src: url("seo-and-marketing/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("seo-and-marketing/font/Flaticon.woff2") format("woff2"),
       url("seo-and-marketing/font/Flaticon.woff") format("woff"),
       url("seo-and-marketing/font/Flaticon.ttf") format("truetype"),
       url("seo-and-marketing/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "seo-and-marketing";
    src: url("seo-and-marketing/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class*=" seo-and-marketing-"]:before,
[class^=seo-and-marketing-]:before {
  font-family: "seo-and-marketing";
}

.seo-and-marketing-001-cloud:before { content: "\f100"; }
.seo-and-marketing-002-cloud-computing:before { content: "\f101"; }
.seo-and-marketing-003-video-marketing:before { content: "\f102"; }
.seo-and-marketing-004-email-marketing:before { content: "\f103"; }
.seo-and-marketing-005-eye:before { content: "\f104"; }
.seo-and-marketing-006-presentation:before { content: "\f105"; }
.seo-and-marketing-007-usb:before { content: "\f106"; }
.seo-and-marketing-008-compact-disc:before { content: "\f107"; }
.seo-and-marketing-009-networking:before { content: "\f108"; }
.seo-and-marketing-010-web-page:before { content: "\f109"; }
.seo-and-marketing-011-data-transfer:before { content: "\f10a"; }
.seo-and-marketing-012-missile:before { content: "\f10b"; }
.seo-and-marketing-013-cogwheel:before { content: "\f10c"; }
.seo-and-marketing-014-briefcase:before { content: "\f10d"; }
.seo-and-marketing-015-qr-code:before { content: "\f10e"; }
.seo-and-marketing-016-mobile-banking:before { content: "\f10f"; }
.seo-and-marketing-017-web-design:before { content: "\f110"; }
.seo-and-marketing-018-feedback:before { content: "\f111"; }
.seo-and-marketing-019-email:before { content: "\f112"; }
.seo-and-marketing-020-web-security:before { content: "\f113"; }
.seo-and-marketing-021-folder-management:before { content: "\f114"; }
.seo-and-marketing-022-seo:before { content: "\f115"; }
.seo-and-marketing-023-networking:before { content: "\f116"; }
.seo-and-marketing-024-ppc:before { content: "\f117"; }
.seo-and-marketing-025-web-analytics:before { content: "\f118"; }
.seo-and-marketing-026-cloud-storage:before { content: "\f119"; }
.seo-and-marketing-027-www:before { content: "\f11a"; }
.seo-and-marketing-028-compass:before { content: "\f11b"; }
.seo-and-marketing-029-calculator:before { content: "\f11c"; }
.seo-and-marketing-030-online-music:before { content: "\f11d"; }
.seo-and-marketing-031-web-analysis:before { content: "\f11e"; }
.seo-and-marketing-032-analytics:before { content: "\f11f"; }
.seo-and-marketing-033-inbox-mail:before { content: "\f120"; }
.seo-and-marketing-034-financial:before { content: "\f121"; }
.seo-and-marketing-035-cyber-security:before { content: "\f122"; }
.seo-and-marketing-036-data-analytics:before { content: "\f123"; }
.seo-and-marketing-037-dollar-coin:before { content: "\f124"; }
.seo-and-marketing-038-location-pointer:before { content: "\f125"; }
.seo-and-marketing-039-mobile-cloud:before { content: "\f126"; }
.seo-and-marketing-040-cloud-data:before { content: "\f127"; }
.seo-and-marketing-041-web-design:before { content: "\f128"; }
.seo-and-marketing-042-computer-settings:before { content: "\f129"; }
.seo-and-marketing-043-helpline:before { content: "\f12a"; }
.seo-and-marketing-044-video-marketing:before { content: "\f12b"; }
.seo-and-marketing-045-dartboard:before { content: "\f12c"; }
.seo-and-marketing-046-eye:before { content: "\f12d"; }
.seo-and-marketing-047-cloud-data:before { content: "\f12e"; }
.seo-and-marketing-048-compact-disk:before { content: "\f12f"; }
.seo-and-marketing-049-workflow:before { content: "\f130"; }
.seo-and-marketing-050-message:before { content: "\f131"; }
.seo-and-marketing-051-business-report:before { content: "\f132"; }
.seo-and-marketing-052-cyber-security:before { content: "\f133"; }
.seo-and-marketing-053-video-marketing:before { content: "\f134"; }
.seo-and-marketing-054-presentation:before { content: "\f135"; }
.seo-and-marketing-055-hourglass:before { content: "\f136"; }
.seo-and-marketing-056-web-design:before { content: "\f137"; }
.seo-and-marketing-057-video-search:before { content: "\f138"; }
.seo-and-marketing-058-linked:before { content: "\f139"; }
.seo-and-marketing-059-statistics:before { content: "\f13a"; }
.seo-and-marketing-060-data-searching:before { content: "\f13b"; }
.seo-and-marketing-061-software-development:before { content: "\f13c"; }
.seo-and-marketing-062-monitoring:before { content: "\f13d"; }
.seo-and-marketing-063-badge:before { content: "\f13e"; }
.seo-and-marketing-064-report:before { content: "\f13f"; }
.seo-and-marketing-065-technical-support:before { content: "\f140"; }
.seo-and-marketing-066-email-marketing:before { content: "\f141"; }
.seo-and-marketing-067-padlock:before { content: "\f142"; }
.seo-and-marketing-068-package-box:before { content: "\f143"; }
.seo-and-marketing-069-data-analysis:before { content: "\f144"; }
.seo-and-marketing-070-clip:before { content: "\f145"; }
.seo-and-marketing-071-billboard:before { content: "\f146"; }
.seo-and-marketing-072-business-report:before { content: "\f147"; }
.seo-and-marketing-073-floppy-disk:before { content: "\f148"; }
.seo-and-marketing-074-direct-marketing:before { content: "\f149"; }
.seo-and-marketing-075-chatting:before { content: "\f14a"; }
.seo-and-marketing-076-trophy:before { content: "\f14b"; }
.seo-and-marketing-077-lifebelt:before { content: "\f14c"; }
.seo-and-marketing-078-video-marketing:before { content: "\f14d"; }
.seo-and-marketing-079-video-camera:before { content: "\f14e"; }

$font-seo-and-marketing-001-cloud: "\f100";
$font-seo-and-marketing-002-cloud-computing: "\f101";
$font-seo-and-marketing-003-video-marketing: "\f102";
$font-seo-and-marketing-004-email-marketing: "\f103";
$font-seo-and-marketing-005-eye: "\f104";
$font-seo-and-marketing-006-presentation: "\f105";
$font-seo-and-marketing-007-usb: "\f106";
$font-seo-and-marketing-008-compact-disc: "\f107";
$font-seo-and-marketing-009-networking: "\f108";
$font-seo-and-marketing-010-web-page: "\f109";
$font-seo-and-marketing-011-data-transfer: "\f10a";
$font-seo-and-marketing-012-missile: "\f10b";
$font-seo-and-marketing-013-cogwheel: "\f10c";
$font-seo-and-marketing-014-briefcase: "\f10d";
$font-seo-and-marketing-015-qr-code: "\f10e";
$font-seo-and-marketing-016-mobile-banking: "\f10f";
$font-seo-and-marketing-017-web-design: "\f110";
$font-seo-and-marketing-018-feedback: "\f111";
$font-seo-and-marketing-019-email: "\f112";
$font-seo-and-marketing-020-web-security: "\f113";
$font-seo-and-marketing-021-folder-management: "\f114";
$font-seo-and-marketing-022-seo: "\f115";
$font-seo-and-marketing-023-networking: "\f116";
$font-seo-and-marketing-024-ppc: "\f117";
$font-seo-and-marketing-025-web-analytics: "\f118";
$font-seo-and-marketing-026-cloud-storage: "\f119";
$font-seo-and-marketing-027-www: "\f11a";
$font-seo-and-marketing-028-compass: "\f11b";
$font-seo-and-marketing-029-calculator: "\f11c";
$font-seo-and-marketing-030-online-music: "\f11d";
$font-seo-and-marketing-031-web-analysis: "\f11e";
$font-seo-and-marketing-032-analytics: "\f11f";
$font-seo-and-marketing-033-inbox-mail: "\f120";
$font-seo-and-marketing-034-financial: "\f121";
$font-seo-and-marketing-035-cyber-security: "\f122";
$font-seo-and-marketing-036-data-analytics: "\f123";
$font-seo-and-marketing-037-dollar-coin: "\f124";
$font-seo-and-marketing-038-location-pointer: "\f125";
$font-seo-and-marketing-039-mobile-cloud: "\f126";
$font-seo-and-marketing-040-cloud-data: "\f127";
$font-seo-and-marketing-041-web-design: "\f128";
$font-seo-and-marketing-042-computer-settings: "\f129";
$font-seo-and-marketing-043-helpline: "\f12a";
$font-seo-and-marketing-044-video-marketing: "\f12b";
$font-seo-and-marketing-045-dartboard: "\f12c";
$font-seo-and-marketing-046-eye: "\f12d";
$font-seo-and-marketing-047-cloud-data: "\f12e";
$font-seo-and-marketing-048-compact-disk: "\f12f";
$font-seo-and-marketing-049-workflow: "\f130";
$font-seo-and-marketing-050-message: "\f131";
$font-seo-and-marketing-051-business-report: "\f132";
$font-seo-and-marketing-052-cyber-security: "\f133";
$font-seo-and-marketing-053-video-marketing: "\f134";
$font-seo-and-marketing-054-presentation: "\f135";
$font-seo-and-marketing-055-hourglass: "\f136";
$font-seo-and-marketing-056-web-design: "\f137";
$font-seo-and-marketing-057-video-search: "\f138";
$font-seo-and-marketing-058-linked: "\f139";
$font-seo-and-marketing-059-statistics: "\f13a";
$font-seo-and-marketing-060-data-searching: "\f13b";
$font-seo-and-marketing-061-software-development: "\f13c";
$font-seo-and-marketing-062-monitoring: "\f13d";
$font-seo-and-marketing-063-badge: "\f13e";
$font-seo-and-marketing-064-report: "\f13f";
$font-seo-and-marketing-065-technical-support: "\f140";
$font-seo-and-marketing-066-email-marketing: "\f141";
$font-seo-and-marketing-067-padlock: "\f142";
$font-seo-and-marketing-068-package-box: "\f143";
$font-seo-and-marketing-069-data-analysis: "\f144";
$font-seo-and-marketing-070-clip: "\f145";
$font-seo-and-marketing-071-billboard: "\f146";
$font-seo-and-marketing-072-business-report: "\f147";
$font-seo-and-marketing-073-floppy-disk: "\f148";
$font-seo-and-marketing-074-direct-marketing: "\f149";
$font-seo-and-marketing-075-chatting: "\f14a";
$font-seo-and-marketing-076-trophy: "\f14b";
$font-seo-and-marketing-077-lifebelt: "\f14c";
$font-seo-and-marketing-078-video-marketing: "\f14d";
$font-seo-and-marketing-079-video-camera: "\f14e";