@font-face {
  font-family: "project-management";
  src: url("project-management/font/Flaticon.eot");
  src: url("project-management/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("project-management/font/Flaticon.woff2") format("woff2"),
       url("project-management/font/Flaticon.woff") format("woff"),
       url("project-management/font/Flaticon.ttf") format("truetype"),
       url("project-management/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "project-management";
    src: url("project-management/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class*=" project-management-"]:before,
[class^=project-management-]:before {
  font-family: "project-management";
}

.project-management-001-resume:before { content: "\f100"; }
.project-management-002-podium:before { content: "\f101"; }
.project-management-003-sms:before { content: "\f102"; }
.project-management-004-network:before { content: "\f103"; }
.project-management-005-payments:before { content: "\f104"; }
.project-management-006-landing-pages:before { content: "\f105"; }
.project-management-007-chatting:before { content: "\f106"; }
.project-management-008-strategic-plan:before { content: "\f107"; }
.project-management-009-compass:before { content: "\f108"; }
.project-management-010-data-network:before { content: "\f109"; }
.project-management-011-network:before { content: "\f10a"; }
.project-management-012-cloud-user:before { content: "\f10b"; }
.project-management-013-binders:before { content: "\f10c"; }
.project-management-014-page-speed:before { content: "\f10d"; }
.project-management-015-people-network:before { content: "\f10e"; }
.project-management-016-to-do-list:before { content: "\f10f"; }
.project-management-017-curriculum-vitae:before { content: "\f110"; }
.project-management-018-project-scheme:before { content: "\f111"; }
.project-management-019-web-mail:before { content: "\f112"; }
.project-management-020-text-document:before { content: "\f113"; }
.project-management-021-online-appointment:before { content: "\f114"; }
.project-management-022-businessman:before { content: "\f115"; }
.project-management-023-files-and-folders:before { content: "\f116"; }
.project-management-024-seo-and-web:before { content: "\f117"; }
.project-management-025-project-management:before { content: "\f118"; }
.project-management-026-magnifying:before { content: "\f119"; }
.project-management-027-online-chat:before { content: "\f11a"; }
.project-management-028-tactics:before { content: "\f11b"; }
.project-management-029-rocket-launch:before { content: "\f11c"; }
.project-management-030-landline:before { content: "\f11d"; }
.project-management-031-business-report:before { content: "\f11e"; }
.project-management-032-graph-report:before { content: "\f11f"; }
.project-management-033-dialogue:before { content: "\f120"; }
.project-management-034-audio-message:before { content: "\f121"; }
.project-management-035-manager:before { content: "\f122"; }
.project-management-036-office-building:before { content: "\f123"; }
.project-management-037-giving-present:before { content: "\f124"; }
.project-management-038-opportunities:before { content: "\f125"; }
.project-management-039-ecology-and-environment:before { content: "\f126"; }
.project-management-040-strategy:before { content: "\f127"; }
.project-management-041-organizer:before { content: "\f128"; }
.project-management-042-argue:before { content: "\f129"; }
.project-management-043-good-feedback:before { content: "\f12a"; }
.project-management-044-toasting:before { content: "\f12b"; }
.project-management-045-oath:before { content: "\f12c"; }
.project-management-046-balance-scale:before { content: "\f12d"; }
.project-management-047-scissor:before { content: "\f12e"; }
.project-management-048-medal:before { content: "\f12f"; }
.project-management-049-strategy:before { content: "\f130"; }
.project-management-050-time-management:before { content: "\f131"; }
.project-management-051-save-energy:before { content: "\f132"; }
.project-management-052-teamwork:before { content: "\f133"; }
.project-management-053-pyramid-chart:before { content: "\f134"; }
.project-management-054-megaphone:before { content: "\f135"; }
.project-management-055-light-bulb:before { content: "\f136"; }
.project-management-056-shooting-target:before { content: "\f137"; }
.project-management-057-diamond:before { content: "\f138"; }
.project-management-058-bank:before { content: "\f139"; }
.project-management-059-necktie:before { content: "\f13a"; }
.project-management-060-chatting:before { content: "\f13b"; }
.project-management-061-open-mail:before { content: "\f13c"; }
.project-management-062-invest-trust:before { content: "\f13d"; }
.project-management-063-data-transfer:before { content: "\f13e"; }
.project-management-064-gold-ingots:before { content: "\f13f"; }
.project-management-065-creative-process:before { content: "\f140"; }
.project-management-066-argue:before { content: "\f141"; }
.project-management-067-creative-mind:before { content: "\f142"; }
.project-management-068-data-transfer:before { content: "\f143"; }
.project-management-069-business-report:before { content: "\f144"; }
.project-management-070-management-service:before { content: "\f145"; }
.project-management-071-give-money:before { content: "\f146"; }
.project-management-072-money-bag:before { content: "\f147"; }
.project-management-073-lighthouse:before { content: "\f148"; }
.project-management-074-global-network:before { content: "\f149"; }
.project-management-075-hierarchical-structure:before { content: "\f14a"; }
.project-management-076-organization-chart:before { content: "\f14b"; }
.project-management-077-add-contact:before { content: "\f14c"; }
.project-management-078-manager:before { content: "\f14d"; }
.project-management-079-swivel-chair:before { content: "\f14e"; }
.project-management-080-mission-accomplished:before { content: "\f14f"; }
.project-management-081-identity-card:before { content: "\f150"; }
.project-management-082-magnification-tool:before { content: "\f151"; }
.project-management-083-payment:before { content: "\f152"; }
.project-management-084-survey:before { content: "\f153"; }
.project-management-085-hourglass:before { content: "\f154"; }
.project-management-086-page-layout:before { content: "\f155"; }
.project-management-087-project-management:before { content: "\f156"; }
.project-management-088-web-administrator:before { content: "\f157"; }
.project-management-089-to-do-list:before { content: "\f158"; }
.project-management-090-ribbon-badge:before { content: "\f159"; }
.project-management-091-creative-mind:before { content: "\f15a"; }
.project-management-092-page-layout:before { content: "\f15b"; }
.project-management-093-social-network:before { content: "\f15c"; }
.project-management-094-earth-day:before { content: "\f15d"; }
.project-management-095-leadership:before { content: "\f15e"; }
.project-management-096-network:before { content: "\f15f"; }
.project-management-097-web-traffic:before { content: "\f160"; }
.project-management-098-task-planning:before { content: "\f161"; }
.project-management-099-chatting:before { content: "\f162"; }

$font-project-management-001-resume: "\f100";
$font-project-management-002-podium: "\f101";
$font-project-management-003-sms: "\f102";
$font-project-management-004-network: "\f103";
$font-project-management-005-payments: "\f104";
$font-project-management-006-landing-pages: "\f105";
$font-project-management-007-chatting: "\f106";
$font-project-management-008-strategic-plan: "\f107";
$font-project-management-009-compass: "\f108";
$font-project-management-010-data-network: "\f109";
$font-project-management-011-network: "\f10a";
$font-project-management-012-cloud-user: "\f10b";
$font-project-management-013-binders: "\f10c";
$font-project-management-014-page-speed: "\f10d";
$font-project-management-015-people-network: "\f10e";
$font-project-management-016-to-do-list: "\f10f";
$font-project-management-017-curriculum-vitae: "\f110";
$font-project-management-018-project-scheme: "\f111";
$font-project-management-019-web-mail: "\f112";
$font-project-management-020-text-document: "\f113";
$font-project-management-021-online-appointment: "\f114";
$font-project-management-022-businessman: "\f115";
$font-project-management-023-files-and-folders: "\f116";
$font-project-management-024-seo-and-web: "\f117";
$font-project-management-025-project-management: "\f118";
$font-project-management-026-magnifying: "\f119";
$font-project-management-027-online-chat: "\f11a";
$font-project-management-028-tactics: "\f11b";
$font-project-management-029-rocket-launch: "\f11c";
$font-project-management-030-landline: "\f11d";
$font-project-management-031-business-report: "\f11e";
$font-project-management-032-graph-report: "\f11f";
$font-project-management-033-dialogue: "\f120";
$font-project-management-034-audio-message: "\f121";
$font-project-management-035-manager: "\f122";
$font-project-management-036-office-building: "\f123";
$font-project-management-037-giving-present: "\f124";
$font-project-management-038-opportunities: "\f125";
$font-project-management-039-ecology-and-environment: "\f126";
$font-project-management-040-strategy: "\f127";
$font-project-management-041-organizer: "\f128";
$font-project-management-042-argue: "\f129";
$font-project-management-043-good-feedback: "\f12a";
$font-project-management-044-toasting: "\f12b";
$font-project-management-045-oath: "\f12c";
$font-project-management-046-balance-scale: "\f12d";
$font-project-management-047-scissor: "\f12e";
$font-project-management-048-medal: "\f12f";
$font-project-management-049-strategy: "\f130";
$font-project-management-050-time-management: "\f131";
$font-project-management-051-save-energy: "\f132";
$font-project-management-052-teamwork: "\f133";
$font-project-management-053-pyramid-chart: "\f134";
$font-project-management-054-megaphone: "\f135";
$font-project-management-055-light-bulb: "\f136";
$font-project-management-056-shooting-target: "\f137";
$font-project-management-057-diamond: "\f138";
$font-project-management-058-bank: "\f139";
$font-project-management-059-necktie: "\f13a";
$font-project-management-060-chatting: "\f13b";
$font-project-management-061-open-mail: "\f13c";
$font-project-management-062-invest-trust: "\f13d";
$font-project-management-063-data-transfer: "\f13e";
$font-project-management-064-gold-ingots: "\f13f";
$font-project-management-065-creative-process: "\f140";
$font-project-management-066-argue: "\f141";
$font-project-management-067-creative-mind: "\f142";
$font-project-management-068-data-transfer: "\f143";
$font-project-management-069-business-report: "\f144";
$font-project-management-070-management-service: "\f145";
$font-project-management-071-give-money: "\f146";
$font-project-management-072-money-bag: "\f147";
$font-project-management-073-lighthouse: "\f148";
$font-project-management-074-global-network: "\f149";
$font-project-management-075-hierarchical-structure: "\f14a";
$font-project-management-076-organization-chart: "\f14b";
$font-project-management-077-add-contact: "\f14c";
$font-project-management-078-manager: "\f14d";
$font-project-management-079-swivel-chair: "\f14e";
$font-project-management-080-mission-accomplished: "\f14f";
$font-project-management-081-identity-card: "\f150";
$font-project-management-082-magnification-tool: "\f151";
$font-project-management-083-payment: "\f152";
$font-project-management-084-survey: "\f153";
$font-project-management-085-hourglass: "\f154";
$font-project-management-086-page-layout: "\f155";
$font-project-management-087-project-management: "\f156";
$font-project-management-088-web-administrator: "\f157";
$font-project-management-089-to-do-list: "\f158";
$font-project-management-090-ribbon-badge: "\f159";
$font-project-management-091-creative-mind: "\f15a";
$font-project-management-092-page-layout: "\f15b";
$font-project-management-093-social-network: "\f15c";
$font-project-management-094-earth-day: "\f15d";
$font-project-management-095-leadership: "\f15e";
$font-project-management-096-network: "\f15f";
$font-project-management-097-web-traffic: "\f160";
$font-project-management-098-task-planning: "\f161";
$font-project-management-099-chatting: "\f162";